/* Main style */
.main-background {background-color: rgb(47, 47, 48);}
.main-titles {color: whitesmoke;}
.main-hr{
    height: 1px;
    background-color: #ccc;
    border: none;
}

/* Dashboard style */
.dashboard-card {background-color: rgb(238, 241, 165);}
.dashboard-button {
    background-color: #255bc6;
    font-size: 15px;
}

.contact-info {
    background-color: #9be1db;
}
